<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <div class="pinterest">
        <div class="left">
            <a href="#" class="logo"><i class="fab fa-pinterest"></i></a>
            <a href="#" class="home">Home</a>
        </div>
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="search" name="" placeholder="Search" id="">
        </div>
        <div class="right">
            <a href="#" class="items"><i class="fas fa-bell"></i></a>
            <a href="#" class="items"><i class="far fa-comment-dots"></i></a>
            <a href="#" class="avatar">
            <div class="img"><img src="https://images.unsplash.com/photo-1517849845537-4d257902454a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="dp"></div>
            </a>
            <a href="#" class="items-down"><i class="fas fa-chevron-down"></i></a>
        </div>
        </div>


        
    
    <div class="gallery">
        <div class="gallery-item">
          <figure>
            <img src="https://images.dog.ceo/breeds/hound-english/n02089973_3147.jpg" alt="dog" />
            <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
          </figure>
          <p>OMG, seriously how cute are these dogs?</p>
        </div>
        <div class="gallery-item">
          <figure>
            <img src="https://images.dog.ceo/breeds/poodle-miniature/n02113712_3293.jpg" alt="dog" />
            <figcaption>Caption of the pic</figcaption>
          </figure>
          <p>More text about the image</p>
        </div>
        <div class="gallery-item">
          <figure>
            <img src="https://images.dog.ceo/breeds/pug/n02110958_13794.jpg" alt="dog" />
            <figcaption>Caption of the pic</figcaption>
          </figure>
          <p>More text about the image</p>
        </div>
        <div class="gallery-item">
          <figure>
            <img src="https://images.dog.ceo/breeds/terrier-australian/n02096294_5504.jpg" alt="dog" />
            <figcaption>Caption of the pic</figcaption>
          </figure>
          <p>More text about the image</p>
        </div>
        <div class="gallery-item">
            <figure>
              <img src="https://images.dog.ceo/breeds/pembroke/n02113023_4881.jpg" alt="dog" />
              <figcaption>Caption of the pic</figcaption>
            </figure>
            <p>More text about the image</p>
          </div>
          <div class="gallery-item">
            <figure>
              <img src="https://images.dog.ceo/breeds/poodle-standard/n02113799_4946.jpg" alt="dog" />
              <figcaption>Caption of the pic</figcaption>
            </figure>
            <p>More text about the image</p>
          </div>
</body>
</html>