<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/profile.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Profile</title>
  </head>
<body>
  <div class="logout-field">
    <div class="button">
        <a href="/logout">Logout</a>
    </div>
</div>

    <div class="containnner">
        <div class="div-center">
          <div class="profile-content">
            <div class="avatar">
              <img src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?q=80&w=1917&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="avatar">
             </div>
            <br>
            <div class="details">
              <div class="profile-name">
                <h4>@<%= finduser.username %></h4>
                <h3><%= finduser.fullname %></h3>
                <p>Tag line</p>
                <p>Description</p>
              </div>
              <div class="socails">
                <img src="https://img.icons8.com/?size=24&id=85330&format=png" alt="">
                <img src="https://img.icons8.com/?size=24&id=IuI5Yd3J3qcC&format=png" alt="">
                <img src="https://img.icons8.com/?size=24&id=RhYNENh5cxlS&format=png" alt="">
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- <div class="upload-field">
      <label for="fileInput" class="upload-button">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <span>Upload</span>
          <input type="file" id="fileInput" name="file" style="display:none;">
        </form>
      </label>
    </div> -->


    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="text" name="filecaption" placeholder="Add caption">
      <input type="file" name="file">
      <input type="submit">
    </form>

    <div class="container">
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1519501025264-65ba15a82390?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">My gallery</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1555169062-013468b47731?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">My clicks</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1521510186458-bbbda7aef46b?q=80&w=1781&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Friends</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html


